---
title: Comprobación de cuenta de 8000038 GDPR secundarios
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 993797d951dddea20d7df24ad40b5834a537852a
ms.sourcegitcommit: dd43cc0a9470f98b8ef2a3787c823801d674c666
ms.translationtype: MT
ms.contentlocale: es-ES
ms.lasthandoff: 02/12/2019
ms.locfileid: "29919961"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Fecha de nacimiento que se muestra en su cuenta de Microsoft es incorrecto

Microsoft toma muy en serio la seguridad de cuentas. Se le puede recientemente ha solicitado para proporcionar el consentimiento de los padres para la cuenta de Microsoft de un elemento secundario. Si necesita ayuda para proporcionar el consentimiento de los padres o actualizar la fecha de nacimiento en una cuenta de Microsoft, vea [comprobación de edad para consentimiento de los padres](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Obtenga más información acerca de [consentimiento de los padres y cuentas de Microsoft secundarios](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

