---
title: Comprobación de cuenta de 8000038 GDPR secundarios
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: d6ea5e9458a2b8ceaab3ac4bd483e1130b9a398a
ms.translationtype: MT
ms.contentlocale: es-ES
ms.lasthandoff: 01/15/2019
ms.locfileid: "28313422"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="12e5f-102">Fecha de nacimiento que se muestra en su cuenta de Microsoft es incorrecto</span><span class="sxs-lookup"><span data-stu-id="12e5f-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="12e5f-p101">Microsoft toma muy en serio la seguridad de cuentas. Se le puede recientemente ha solicitado para proporcionar el consentimiento de los padres para la cuenta de Microsoft de un elemento secundario. Si necesita ayuda para proporcionar el consentimiento de los padres o actualizar la fecha de nacimiento en una cuenta de Microsoft, vea [comprobación de edad para consentimiento de los padres](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="12e5f-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="12e5f-106">Obtenga más información acerca de [consentimiento de los padres y cuentas de Microsoft secundarios](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="12e5f-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

