---
title: 8000038 comprobación de cuenta de usuario infantil de RGPD
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 03a156a9c9740521155a30775492c7dff0982588
ms.translationtype: MT
ms.contentlocale: es-ES
ms.lasthandoff: 03/22/2019
ms.locfileid: "30775853"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>La fecha de nacimiento mostrada en tu cuenta de Microsoft es incorrecta

Microsoft tiene muy en serio la seguridad de la cuenta. Es posible que se le haya pedir recientemente que proporcione el consentimiento paterno para la cuenta de Microsoft de un usuario infantil. Si necesita ayuda para ofrecer el consentimiento paterno o actualizar la fecha de nacimiento en una cuenta Microsoft, consulte [comprobación de edad para el consentimiento paterno](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Obtenga más información sobre el [consentimiento paterno y las cuentas infantiles de Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

