---
title: 8000038 comprobación de cuenta de usuario infantil de RGPD
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: es-ES
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524428"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>La fecha de nacimiento mostrada en tu cuenta de Microsoft es incorrecta

Microsoft tiene muy en serio la seguridad de la cuenta. Es posible que se le haya pedir recientemente que proporcione el consentimiento paterno para la cuenta de Microsoft de un usuario infantil. Si necesita ayuda para ofrecer el consentimiento paterno o actualizar la fecha de nacimiento en una cuenta Microsoft, consulte [comprobación de edad para el consentimiento paterno](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Obtenga más información sobre el [consentimiento paterno y las cuentas infantiles de Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  